In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
669,tt0497465,15000000,96408652,Vicky Cristina Barcelona,Scarlett Johansson|Rebecca Hall|Javier Bardem|...,Woody Allen,Life is the ultimate work of art,Two girlfriends on a summer holiday in Spain b...,96,Drama|Romance,The Weinstein Company|Gravier Productions|Ante...,8/15/2008,6.7,2008
114,tt1178665,8000000,35991087,A Walk in the Woods,Robert Redford|Nick Nolte|Emma Thompson|Nick O...,Ken Kwapis,"When you push yourself to the edge, the real f...","After spending two decades in England, Bill Br...",104,Drama|Adventure|Comedy,Wildwood Enterprises|Route One Films,9/2/2015,5.4,2015
977,tt1446714,130000000,403170142,Prometheus,Noomi Rapace|Michael Fassbender|Charlize Thero...,Ridley Scott,The Search for Our Beginning Could Lead to Our...,A team of explorers discover a clue to the ori...,124,Science Fiction|Adventure|Mystery,Twentieth Century Fox Film Corporation|Dune En...,5/30/2012,6.2,2012
108,tt3077214,14000000,16002420,Suffragette,Carey Mulligan|Helena Bonham Carter|Meryl Stre...,Sarah Gavron,Mothers. Daughters. Rebels.,Based on true events about the foot soldiers o...,106,Drama|History,Ruby Films|PathÃ©|Film4,10/16/2015,7.1,2015
367,tt1314228,58000000,85280250,Did You Hear About The Morgans?,Hugh Grant|Sarah Jessica Parker|Mary Steenburg...,Marc Lawrence,We're not in Manhattan anymore.,"In New York City, an estranged couple who witn...",103,Comedy,Columbia Pictures|Castle Rock Entertainment|Re...,12/17/2009,5.0,2009

In [5]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [3]:
answers = {} # создадим словарь для ответов

# создадим колонку profit:

data['profit'] = data['revenue'] - data['budget']

In [4]:
# заменим черточки на запятые
data.cast = data.cast.str.replace('|', ', ')
data.genres = data.genres.str.replace('|', ', ')
data.production_companies = data.production_companies.str.replace('|', ', ')

In [5]:
# формат даты
data.release_date = pd.to_datetime(data['release_date'])

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [6]:
# ответ на первый вопрос
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# +

In [7]:
# Вопрос 1. У какого фильма из списка самый большой бюджет?
data.groupby(['budget']).max().sort_values(by = 'budget', ascending=False)

,imdb_id,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
budget,,,,,,,,,,,,,,
380000000,tt1298650,1021683000,Pirates of the Caribbean: On Stranger Tides,"Johnny Depp, PenÃ©lope Cruz, Geoffrey Rush, Ia...",Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,"Adventure, Action, Fantasy","Walt Disney Pictures, Jerry Bruckheimer Films,...",2011-05-11,6.3,2011,641683000
300000000,tt0449088,961000000,Pirates of the Caribbean: At World's End,"Johnny Depp, Orlando Bloom, Keira Knightley, G...",Gore Verbinski,"At the end of the world, the adventure begins.","Captain Barbossa, long believed to be dead, ha...",169,"Adventure, Fantasy, Action","Walt Disney Pictures, Jerry Bruckheimer Films,...",2007-05-19,6.8,2007,661000000
280000000,tt2395427,1405035767,Avengers: Age of Ultron,"Robert Downey Jr., Chris Hemsworth, Mark Ruffa...",Joss Whedon,A New Age Has Come.,When Tony Stark tries to jumpstart a dormant p...,141,"Action, Adventure, Science Fiction","Marvel Studios, Prime Focus, Revolution Sun St...",2015-04-22,7.4,2015,1125035767
260000000,tt0401729,591794936,Tangled,"Zachary Levi, Mandy Moore, Donna Murphy, Ron P...",Nathan Greno|Byron Howard,They're taking adventure to new lengths.,When the kingdom's most wanted-and most charmi...,132,"Animation, Family","Walt Disney Pictures, Walt Disney Animation St...",2012-03-07,7.3,2012,331794936
258000000,tt0413300,890871626,Spider-Man 3,"Tobey Maguire, Kirsten Dunst, James Franco, Th...",Sam Raimi,The battle within.,The seemingly invincible Spider-Man goes up ag...,139,"Fantasy, Action, Adventure","Columbia Pictures, Laura Ziskin Productions, M...",2007-05-01,5.8,2007,632871626
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6500000,tt3322940,255273813,The Pyramid,"Sandra Bullock, Don Cheadle, Matt Dillon, Mich...",Zal Batmanglij,You think you know who you are. You have no idea.,The chief spokesperson and lobbyist Nick Naylo...,116,Horror,Scott Free Productions,2014-12-04,7.1,2014,248773813
6400000,tt1655420,35057696,Young Adam,"Michelle Williams, Eddie Redmayne, Kenneth Bra...",Simon Curtis,Sometimes You Just Need to Get Away,Sir Laurence Olivier is making a movie in Lond...,99,"Drama, Thriller, Crime, Romance",Recorded Picture Company (RPC),2011-10-17,6.7,2011,28657696
6000000,tt3787590,119114517,We Are Your Friends,"Zac Efron, Emily Ratajkowski, Wes Bentley, Nic...",Steven Brill|Elizabeth Banks|Steve Carr|Rusty ...,There's more than one way to take a life.,"Young Scottish doctor, Nicholas Garrigan decid...",122,"Drama, Thriller",Working Title Films,2015-11-13,8.0,2015,113114517
5500000,tt2397535,3000000,Predestination,"Ethan Hawke, Sarah Snook, Noah Taylor, Christo...",Michael Spierig|Peter Spierig,To save the future he must reshape the past.,Predestination chronicles the life of a Tempor...,97,"Science Fiction, Thriller","Screen Australia, Screen Queensland, Blacklab ...",2014-08-28,7.2,2014,-2500000
5000000,tt4178092,368744044,Wonderland,"Val Kilmer, Dylan McDermott, Kate Bosworth, Jo...",Walt Becker,You're one of us now.,"Yearning for an evening without their kids, so...",119,"Thriller, Mystery","Universal Studios, Universal Pictures, Voltage...",2015-10-22,7.8,2015,363744044

# 2. Какой из фильмов самый длительный (в минутах)?

In [8]:
# ответ на второй вопрос
answers['2'] = 'Gods and Generals (tt0279111)'
# +

In [9]:
data.loc[data['runtime'] == data['runtime'].max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1157,tt0279111,56000000,12923936,Gods and Generals,"Stephen Lang, Jeff Daniels, Robert Duvall, Kev...",Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,"Drama, History, War","Turner Pictures, Antietam Filmworks",2003-02-21,5.8,2003,-43076064

# 3. Какой из фильмов самый короткий (в минутах)?

In [10]:
answers['3'] = 'Winnie the Pooh (tt1449283)' 
# +

In [19]:
# так как вопросы по своей сути одинаковые, я к каждому вопросу записываю разные решения, даже такие несуразные, как этот.
# Просто для разнообразия, и чтобы вспомнить разные методы. Я не стала записывать разные варианты к каждому ответу, чтобы
# вам не пришлось несколько раз читать одно и то же.

In [11]:
data['runtime'].min()

63

In [12]:
data[data.runtime == 63].original_title.unique()

array(['Winnie the Pooh'], dtype=object)

# 4. Какова средняя длительность фильмов?

In [13]:
# +
answers['4'] = '110'

In [14]:
data['runtime'].mean()

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [15]:
# +
answers['5'] = '107'

In [16]:
data['runtime'].median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [17]:
# +
answers['6'] = 'Avatar (tt0499549)'

In [18]:
data.loc[data['profit'] == data['profit'].max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
239,tt0499549,237000000,2781505847,Avatar,"Sam Worthington, Zoe Saldana, Sigourney Weaver...",James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,"Action, Adventure, Fantasy, Science Fiction","Ingenious Film Partners, Twentieth Century Fox...",2009-12-10,7.1,2009,2544505847

# 7. Какой фильм самый убыточный?

In [19]:
# +
answers['7'] = 'The Lone Ranger (tt1210819)'

In [20]:
data[data.profit == data.profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,"Johnny Depp, Armie Hammer, William Fichtner, H...",Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,"Action, Adventure, Western","Walt Disney Pictures, Jerry Bruckheimer Films,...",2013-07-03,6.0,2013,-165710090

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [21]:
# +
answers['8'] = '1478'

In [22]:
data[data.profit > 0].count()

imdb_id                 1478
budget                  1478
revenue                 1478
original_title          1478
cast                    1478
director                1478
tagline                 1478
overview                1478
runtime                 1478
genres                  1478
production_companies    1478
release_date            1478
vote_average            1478
release_year            1478
profit                  1478
dtype: int64

In [23]:
# или
len(data[data.profit > 0].imdb_id.unique())

1478

In [24]:
# или
data[data.profit > 0].imdb_id.nunique()

1478

In [25]:
# в последних двух случаях надо смотреть по id, потому что если указывать, к примеру, original_title, то результат будет 1476
# видимо два названия повторяются
# и так как мне было интересно, то вот эти два фильма:
data.loc[data.duplicated(subset=['original_title'])]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1322,tt0120667,100000000,330579719,Fantastic Four,"Ioan Gruffudd, Jessica Alba, Chris Evans, Mich...",Tim Story,4 times the action. 4 times the adventure. 4 t...,"During a space voyage, four scientists are alt...",106,"Action, Adventure, Fantasy, Science Fiction","Twentieth Century Fox Film Corporation, 1492 P...",2005-07-07,5.6,2005,230579719
1834,tt0219699,10000000,12008642,The Gift,"Cate Blanchett, Giovanni Ribisi, Keanu Reeves,...",Sam Raimi,The only witness to the crime was not even there.,When a local woman disappears and the police c...,111,"Horror, Drama, Thriller, Mystery","Lakeshore Entertainment, Alphaville Films",2000-12-22,6.2,2000,2008642

In [26]:
# let's check
data.loc[data.original_title == 'Fantastic Four']

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
55,tt1502712,120000001,167977596,Fantastic Four,"Miles Teller, Kate Mara, Michael B. Jordan, Ja...",Josh Trank,Change is coming.,Four young outsiders teleport to a dangerous u...,100,"Action, Adventure, Science Fiction","Twentieth Century Fox Film Corporation, Marv F...",2015-08-05,4.4,2015,47977595
1322,tt0120667,100000000,330579719,Fantastic Four,"Ioan Gruffudd, Jessica Alba, Chris Evans, Mich...",Tim Story,4 times the action. 4 times the adventure. 4 t...,"During a space voyage, four scientists are alt...",106,"Action, Adventure, Fantasy, Science Fiction","Twentieth Century Fox Film Corporation, 1492 P...",2005-07-07,5.6,2005,230579719

In [27]:
# and
data.loc[data.original_title == 'The Gift']

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
75,tt4178092,5000000,58978653,The Gift,"Jason Bateman, Rebecca Hall, Joel Edgerton, Da...",Joel Edgerton,Not every gift is welcome.,A husband and wife try to reinvigorate their r...,108,"Thriller, Mystery","Blumhouse Productions, Blue-Tongue Films, STX ...",2015-07-30,6.6,2015,53978653
1834,tt0219699,10000000,12008642,The Gift,"Cate Blanchett, Giovanni Ribisi, Keanu Reeves,...",Sam Raimi,The only witness to the crime was not even there.,When a local woman disappears and the police c...,111,"Horror, Drama, Thriller, Mystery","Lakeshore Entertainment, Alphaville Films",2000-12-22,6.2,2000,2008642

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [28]:
# +
answers['9'] = 'The Dark Knight (tt0468569)'

In [29]:
data[data.release_year == 2008].revenue.max()

1001921825

In [30]:
data.loc[(data.release_year == 2008) & (data.revenue == 1001921825)]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,tt0468569,185000000,1001921825,The Dark Knight,"Christian Bale, Michael Caine, Heath Ledger, A...",Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,"Drama, Action, Crime, Thriller","DC Comics, Legendary Pictures, Warner Bros., S...",2008-07-16,8.1,2008,816921825

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [31]:
# +
answers['10'] = 'The Lone Ranger (tt1210819)'

In [32]:
data[(data.release_year>=2012) & (data.release_year<=2014)].profit.min()

-165710090

In [33]:
data.loc[data.profit == -165710090]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,"Johnny Depp, Armie Hammer, William Fichtner, H...",Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,"Action, Adventure, Western","Walt Disney Pictures, Jerry Bruckheimer Films,...",2013-07-03,6.0,2013,-165710090

# 11. Какого жанра фильмов больше всего?

In [34]:
answers['11'] = 'Drama'

In [35]:
# перевожу все значения в список,а потом назад в Series
genres = data.genres.tolist()
separator = ', '
genres_str = separator.join(genres)
genres_list = genres_str.split(',')
genres = pd.Series(genres_list)
genres.value_counts()

 Drama              782
 Comedy             683
 Thriller           596
 Action             581
 Adventure          415
 Crime              315
 Romance            308
 Family             260
 Science Fiction    248
 Fantasy            222
 Horror             176
 Mystery            168
 Animation          139
 Music               64
 History             62
 War                 58
 Western             19
 Documentary          8
 Foreign              2
Action                1
dtype: int64

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [36]:
answers['12'] = 'Drama'

In [37]:
profitable_movies = data[data.profit > 0].genres
genres = profitable_movies.tolist()
separator = ', '
profitable_str = separator.join(genres)
profitable_list = profitable_str.split(',')
profitable = pd.Series(profitable_list)
profitable.value_counts()

 Drama              560
 Comedy             551
 Thriller           446
 Action             443
 Adventure          337
 Romance            242
 Crime              231
 Family             226
 Science Fiction    195
 Fantasy            188
 Horror             150
 Animation          120
 Mystery            119
 Music               47
 History             46
 War                 41
 Western             12
 Documentary          7
Action                1
dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [38]:
answers['13'] = 'Peter Jackson'

In [39]:
data.groupby(['director'])['revenue'].sum().sort_values(ascending=False)

director
Peter Jackson        6490593685
Christopher Nolan    4167548502
David Yates          4154295625
Michael Bay          3886938960
J.J. Abrams          3579169916
                        ...
David MichÃ´d           2295423
Steven Shainberg        2281089
Paul Schrader           2062066
Keanu Reeves            2054941
Simon Hunter            2033165
Name: revenue, Length: 957, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [40]:
answers['14'] = 'Robert Rodriguez '

In [41]:
data[data.genres.str.match("Action")].director.value_counts()

Tony Scott            5
Andrzej Bartkowiak    5
Antoine Fuqua         5
Robert Rodriguez      5
Justin Lin            4
                     ..
Breck Eisner          1
George Miller         1
Xavier Gens           1
Joe Johnston          1
Guy Ritchie           1
Name: director, Length: 268, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [42]:
answers['15'] = 'Chris Hemsworth'

In [43]:
# предположим, что высокие кассовые сборы - это сборы выше среднего
data[data.release_year ==2012].revenue.mean()

207918934.1171171

In [44]:
# Создаем dataframe с фильмами, вышедгими в 2012, и собравшими больше среднего
most_revenue = data[(data.release_year == 2012) & (data.revenue > 207918934)]
# объединяем всех актеров в список, и потом опять в Series, чтобы посчитать самое частотное значение
actors = most_revenue.cast.tolist()
separator = ', '
actors_str = separator.join(actors)
actors_list = actors_str.split(',')
cast = pd.Series(actors_list)
cast.value_counts().head(15)

 Kristen Stewart        2
 Liam Neeson            2
 Denis Leary            2
 Josh Hutcherson        2
 Rosamund Pike          2
 Chris Hemsworth        2
 Hugh Jackman           2
 Sacha Baron Cohen      2
 Emma Thompson          2
 Ralph Fiennes          2
 Taylor Kitsch          2
 Anne Hathaway          2
 Seann William Scott    2
 Charlize Theron        2
 Jonny Lee Miller       1
dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [45]:
answers['16'] = 'Matt Damon'

In [46]:
# предположим, что высокобюджетные фильмы - это фильмы с бюджетом выше среднего
data.budget.mean()

54310829.63843303

In [47]:
# Создаем dataframe с высокобюджетными фильмами
high_budget = data[data.budget > 54310829]
# объединяем всех актеров в список, и потом опять в Series, чтобы посчитать самое частотное значение
actors = high_budget.cast.tolist()
separator = ', '
actors_str = separator.join(actors)
actors_list = actors_str.split(',')
cast = pd.Series(actors_list)
cast.mode()

0     Matt Damon
dtype: object

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [48]:
answers['17'] = 'Action'

In [49]:
# создадим dataframe с фильмами, в которых снимался Николас Кейдж
nicolas_cage = data[data.cast.str.match("Nicolas Cage")].genres
# объединяем все жанры в список, и потом опять в Series, чтобы посчитать самое частотное значениеas
nicolas = nicolas_cage.tolist()
separator = ', '
nicolas_str = separator.join(nicolas)
nicolas_list = nicolas_str.split(',')
nicolas = pd.Series(nicolas_list)
nicolas.value_counts()

 Action             16
 Thriller           14
 Drama              12
 Crime               9
 Fantasy             7
 Adventure           6
 Comedy              5
 Science Fiction     4
 Mystery             3
 Animation           2
 History             2
 Family              2
 Romance             1
 War                 1
 Horror              1
Thriller             1
dtype: int64

# 18. Самый убыточный фильм от Paramount Pictures

In [50]:
answers['18'] = 'K-19: The Widowmaker (tt0267626) верно'

In [51]:
data[data.production_companies.str.match('Paramount Pictures')].profit.min()

-64831034

In [52]:
data.loc[data.profit == -64831034]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
925,tt0267626,100000000,35168966,K-19: The Widowmaker,"Harrison Ford, Liam Neeson, Peter Sarsgaard, J...",Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,"Thriller, Drama, History","Paramount Pictures, Intermedia Films, National...",2002-07-19,6.0,2002,-64831034

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [53]:
answers['19'] = '2015'

In [54]:
data.groupby('release_year').agg({'profit': 'sum'}).sort_values(by = 'profit', ascending=False)

                   profit
release_year
2015          18668572378
2014          16397812953
2012          16077001687
2013          15243179791
2011          14730241341
2010          13531204961
2009          13423744372
2008          11663881990
2007          11565911801
2004           9634180720
2003           9228823312
2002           9002361487
2005           8981925558
2006           8691077320
2001           7950614865
2000           6101399805

# 20. Какой самый прибыльный год для студии Warner Bros?

In [55]:
answers['20'] = '2014'

In [56]:
warner_df = data[data.production_companies.str.contains("Warner Bros")]
warner_df.groupby('release_year').agg({'profit': 'sum'}).sort_values(by = 'profit', ascending=False)

                  profit
release_year
2014          2295464519
2007          2201675217
2008          2134595031
2010          1974712985
2011          1871393682
2003          1855493377
2009          1822454136
2013          1636453400
2004          1631933725
2005          1551980298
2001          1343545668
2012          1258020056
2002          1022709901
2015           870368348
2006           620170743
2000           452631386

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [57]:
answers['21'] = 'Сентябрь'

In [58]:
data.groupby(data.release_date.dt.month).agg({'imdb_id': 'sum'}).sort_values(by = 'imdb_id', ascending=False)

                                                        imdb_id
release_date
9             tt3659388tt4046784tt3072482tt2361509tt2719848t...
3             tt2908446tt1661199tt1823672tt2199571tt2224026t...
4             tt2820852tt2395427tt1655441tt2726560tt3450650t...
12            tt2488496tt1663202tt3460252tt1596363tt2058673t...
10            tt2379713tt3682448tt3170832tt1618442tt2503944t...
7             tt2120120tt0478970tt2381249tt3622592tt2140379t...
11            tt1951266tt1895587tt1979388tt2381111tt2402927t...
2             tt1617661tt2322441tt2381941tt1666801tt2279373t...
5             tt1392190tt1964418tt2126355tt2848292tt3079380t...
8             tt1051904tt1398426tt1638355tt1502712tt2679042t...
1             tt0470752tt2446042tt2802144tt3045616tt2717822t...
6             tt0369610tt1340138tt2293640tt2096673tt1798684t...

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [77]:
answers['22'] = '450'

In [78]:
summer = data[(data.release_date.dt.month == 6) | (data.release_date.dt.month == 7) | (data.release_date.dt.month == 8)].imdb_id.nunique()
summer

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [63]:
answers['23'] = 'Peter Jackson'

In [65]:
data[(data.release_date.dt.month == 1) + (data.release_date.dt.month == 2) + (data.release_date.dt.month == 12)].director.value_counts()

Peter Jackson        7
Clint Eastwood       6
Steven Soderbergh    6
Nancy Meyers         4
Martin Scorsese      4
                    ..
Chris Koch           1
Gary Winick          1
Brad Bird            1
Malcolm D. Lee       1
Guy Ritchie          1
Name: director, Length: 332, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [66]:
answers['24'] = 'Four By Two Productions'

In [67]:
# Это решение я скопировала почти без изменений, так что это задание не стоит засчитывать
def counter(movie_bd, x):
    data_plot=movie_bd[x].str.cat(sep='|')
    dat=pd.Series(data_plot.split('|'))
    info=dat.value_counts(ascending=False)
    return info
length = data.original_title
data['length'] = length.str.len()
sum_gen=counter(data,'production_companies')
for gen in sum_gen.index:
    sum_gen[gen] = data['length'][data['production_companies'].map(lambda x: True if gen in x else False)].mean()
sum_gen = pd.DataFrame(sum_gen).sort_values(0, ascending=False)
sum_gen

                                                     0
Twentieth Century Fox Film Corporation, Four By...  83
Walt Disney Pictures, 21 Laps Entertainment, Ji...  59
Plan B Entertainment, Virtual Studios, Scott Fr...  58
Dune Entertainment, Fox 2000 Pictures, Walden M...  56
Walt Disney, Walden Media                           51
...                                                 ..
New Line Cinema, Gold/Miller Productions, Guy W...   3
Ixtlan Productions, Emperor Motion Pictures, Gl...   2
Columbia Pictures, Relativity Media                  2
Twentieth Century Fox Film Corporation, Donners...   2
Focus Films, Starz Animation, Relativity Media,...   1

[1624 rows x 1 columns]

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [70]:
answers['25'] = 'Midnight Picture Show'

In [69]:
# И это, соответственно, тоже
def counter(movie_bd, x):
    data_plot=movie_bd[x].str.cat(sep=',')
    dat=pd.Series(data_plot.split(','))
    info=dat.value_counts(ascending=False)
    return info
data['title_words_length'] = data.overview.map(lambda x: len(x.split(' ')))
sum_gen=counter(data,'production_companies')
for gen in sum_gen.index:
    sum_gen[gen] = data['title_words_length'][data['production_companies'].map(lambda x: True if gen in x else False)].mean()
sum_gen = pd.DataFrame(sum_gen).sort_values(0, ascending=False)
sum_gen

                                         0
 Midnight Picture Show                 175
 Heineken Branded Entertainment        161
 Room 9 Entertainment                  161
 98 MPH Productions                    159
 Brookwell-McNamara Entertainment      156
...                                    ...
 Our Stories Films                      13
 London Boulevard                       13
 Phantom Four                           13
Motion Picture Corporation of America   11
 Empire Pictures                        11

[2024 rows x 1 columns]

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [71]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'

In [72]:
best_movies = data[data.vote_average > (data.vote_average.quantile(0.99))]
best_movies.original_title

9                                          Inside Out
34                                               Room
118                                      Interstellar
119                           Guardians of the Galaxy
125                                The Imitation Game
128                                         Gone Girl
138                          The Grand Budapest Hotel
370                                         Inception
599                                   The Dark Knight
872                                       The Pianist
1081    The Lord of the Rings: The Return of the King
1183                          The Wolf of Wall Street
1191                                 12 Years a Slave
1800                                          Memento
Name: original_title, dtype: object

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [73]:
answers['27'] = 'Daniel Radcliffe & Rupert Grint'

In [74]:
from itertools import combinations
cast_list = data.cast.str.split(',').tolist()
combo_list=[]
for i in cast_list:
    for j in combinations(i, 2):
        combo_list.append(' '.join(sorted(j)))
combo_list = pd.DataFrame(combo_list)
combo_list.columns = ['actor_combinations']
combo_list.actor_combinations.value_counts().head(10)

 Emma Watson Daniel Radcliffe        8
 Emma Watson  Rupert Grint           8
 Rupert Grint Daniel Radcliffe       8
 Helena Bonham Carter Johnny Depp    5
 Robert Pattinson  Taylor Lautner    5
 Owen Wilson Ben Stiller             5
 Kevin James Adam Sandler            5
 Taylor Lautner Kristen Stewart      5
 Robert Pattinson Kristen Stewart    5
 Betsy Russell Tobin Bell            4
Name: actor_combinations, dtype: int64

ВАРИАНТ 2

# Submission

In [79]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': '110',
 '5': '107',
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez ',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker (tt0267626) верно',
 '19': '2015',
 '20': '2014',
 '21': 'Сентябрь',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe & Rupert Grint',
 '22': '450'}

In [80]:
# и убедиться что ни чего не пропустил)
len(answers)

27